


.character-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.character-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    margin: 20px;
    background: linear-gradient(#0f0c29,#302b63,#24243e);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 81%;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    background: linear-gradient(#0f0c29,#302b63,#24243e);
    color: white;

    
}

form > input {
    border: 0;
    padding: 12px 16px;
    margin: 8px;
    background: white;
    font-size: 1rem;
    width: 240px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #d4d4d4;
    
}
::placeholder {
    color: black;
}


.flex {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-onprimary-rgb, 33, 150, 243));
    height: 36px;
    margin-top: 16px;
}

button:hover {
    filter: brightness(130%);
}


@media (max-width: 620px) {
 
    .character-card {
        width: 100%;
    }    

}